*{
  color: #000000;
}
body{
  background-color: #000000;
  background-image: url(../IMG/doge.jpg);
  background-size: auto;
  background-attachment: fixed;
}
p{
  clear: both;
}
#p1{
  font-family: Arial, Helvetica, "Comic Sans MS", sans-serif;
  font-style: italic;
  text-align: right;
}
#p2{
  text-align: center;
  font-style: oblique;
  color: #FFFFFF;
}
#p3{
  word-spacing: 400%;
}
#p4{
  letter-spacing: 4px;
}
#p41{
  color: #FFFFFF;
}
a{
  height: 60px;
  width: 60px;
}
.par1{
  display: block;
  font-family: Arial, Helvetica, "Comic Sans MS", sans-serif;
  font-style: italic;
  float: right;
  width: 20%;
}
.par2{
  display: block;
  text-align: center;
  font-style: oblique;
  color: #FFFFFF;
  width: 90%;
}
.par3{
  display: inline;
  word-spacing: 400%;
  color: #000000;
  width: 70%;
}
.a3{
  display: inline-block;
  word-spacing: 400%;
}
.a2{
  display: inline;
}
.a1{
  display: block;
}
#img1{
  float: right;
  clear: both;
}
#img2{
  float: left;
  clear: both;
}
