div{
  height: 200px;
  width: 400px;
  background-color: #6A72A4;
  border-style: solid;
  border-width: 5px;
  transition-property: color, width, background-color, border-radius;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: .3s;
  text-align: center;
}
div:hover{
  color: #F30727;
  width: 200px;
  background-color: #000000;
  border-radius: 70px;
}
div:active{
  color: #FFFFFF;
  width: 300px;
  background-color: #D823D8;
  border-radius: 200px;
}
