body{
  background-color: #FFFFFF;
}
header{
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
footer{
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
h1{
  font-style: italic;
}
figure{
  text-align: right;
}
