*{
  font-family: Arial, Helvetica, "Comic Sans MS", sans-serif;
  color: #00FF00;
}
body{
  background-color: #000000;
  /*background-image: url(../IMG/Pipo.jpg);*/
  background-repeat: no-repeat;
  text-align: justify;
}
#lorem{
  font-style: italic;
  font-size: 110%;
  font-variant: small-caps;
}
h1{
  font-family: serif;
}
.dreta{
  text-align: right;
}
.esquerra{
  text-align: left;
}
.centre{
  text-align: center;
}
a{
  display: inline-block;
  height: 60px;
  float: left;
}
p{
  width: 25%;
  clear: both;
}
