div{
  height: 100px;
  width: 200px;
  background-color: #6A72A4;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  transform: rotate(-360deg);
  transition-property: transform;
  transition-duration: .1s;
  transition-timing-function: linear;
}
div:hover{
  transform: rotate(360deg) translate(100px, 100px);
}
